* {
  border: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background: #202020;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}
  
.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
/* End Header */

/* Body */
.body .sider {
  width: 150px;
  background: #323232;
  color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
}

.body .main {
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}
/* End Body */

/* Sider */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
}
/* End Sider */

/* Show alert */

[show-alert] {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 999;
}

[close-alert] {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #efefef;
  text-align: center;
  line-height: 21px;
  font-weight: 600;
  cursor: pointer;
}

[show-alert].alert-hidden {
  animation: alert-out 2s;
  animation-fill-mode: both;
}

@keyframes alert-out {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

/* End show alert */

/* Preview upload image */

[preview-image] {
  width: 180px;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin-top: 10px;
}

/* End preview upload image */

/* Card in bootstrap */

.card {
    border: 0;
}

/* Card in bootstrap */


/* Sidebar  */
.sidebar-item__group {
  vertical-align: middle;
  padding-left: 0.4rem;
  margin: 0;
  color: #827d7d;
}



/* END sidebar  */

/* profile */
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}
/* END profile */
