/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .header .inner-logo img {
    max-height: 80px;
    max-width: 100%;
  }
  
  .header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  .header .inner-menu > ul > li {
    margin-left: 20px;
  }

  @media (min-width: 1025px) {
    .h-custom {
    height: 100%;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

/* Cart */

.cart-icon {
  position: relative;
}

.total-quantity {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  font-size: 0.7rem;
  background-color: red;
  width: 50%;
  height: 70%;
  color: white;
  right: 0;
  top: 0;
  border-radius: 100%;
}



/* END Cart  */

  /* End Header */
  
  /* Footer */
  .footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  /* End Footer */
  
  /* box-head */
  .box-head {
    margin-bottom: 30px;
  }
  
  .box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: green;
  }
  /* End box-head */
  
  /* product-item */
  .product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
    position: relative;
  }
  


  .product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-item .inner-image .inner-featured {
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    color: white;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
  }

  .product-item .inner-content {
    padding: 15px;
  }
  
  .product-item .inner-content .inner-title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .product-item .inner-content .inner-price-new {
    font-size: 18px;
    font-weight: 600;
    color: green;
  }
  
  .product-item .inner-content .inner-price-old {
    font-size: 18px;
    font-weight: 600;
    color: red;
      text-decoration: line-through;
  }
  
  .product-item .inner-content .inner-discount {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: red;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
  }
  /* End product-item */

/* Drop down multilevel */

.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
  

/* END Drop down multilevel */


/* Description */

.inner-desc img {
  width: 100%;
}
/* END Description */


/* Show alert */

[show-alert] {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 999;
}

[close-alert] {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #efefef;
  text-align: center;
  line-height: 21px;
  font-weight: 600;
  cursor: pointer;
}

[show-alert].alert-hidden {
  animation: alert-out 2s;
  animation-fill-mode: both;
}

@keyframes alert-out {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}

/* End show alert */


/* box-room */
.box-room {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px
}

.box-room .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}

.box-room .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-room .inner-info {
  flex: 1;
}

.box-user .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}


/* end box-room */

/* CHAT */
.chat {
  border: 1.5px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
}

.chat .inner-name {
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: .3rem;
}

.chat .inner-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 450px;
}

.chat .inner-incoming .inner-content {
  background: #ddd;
  padding: .5rem 1rem;
  color: #000;
  border-radius: 15px;
  max-width: 16rem;
  width: fit-content;
}

.chat .inner-outgoing {
  display: flex;
  justify-content: flex-end;
}

.chat .inner-outgoing .inner-content {
  padding: .5rem 1rem;
  background:rgb(4, 107, 138);
  color: #fff;
  border-radius: 15px;
  width: fit-content;
  max-width: 16rem;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-foot {
  margin-top: 3rem;
  position: relative;
}

.chat .inner-foot input {
  padding: 1.25rem 1rem;
  width: 93%;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid rgb(4, 107, 138);
  background:rgb(4, 107, 138);
  color: #fff;
  height: 32px;
  padding: 0 10px;
  width: 7%;
  padding: 1.25rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* END CHAT  */

/* EMOJI */
.tooltip {
  visibility: hidden;
}

.tooltip.shown {
  visibility: visible;
  opacity: 1;
}
/* END EMOJI */

/* box typing */
.box-typing {
  position: relative;
}

.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}

.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
  animation-delay: .2s;
}

.box-typing .inner-dots span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
/* END BOX TYPING */
