/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .header .inner-logo img {
    max-height: 80px;
    max-width: 100%;
  }
  
  .header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  .header .inner-menu > ul > li {
    margin-left: 20px;
  }

  @media (min-width: 1025px) {
    .h-custom {
    height: 100%;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

/* Cart */

.cart-icon {
  position: relative;
}

.total-quantity {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  font-size: 0.7rem;
  background-color: red;
  width: 50%;
  height: 70%;
  color: white;
  right: 0;
  top: 0;
  border-radius: 100%;
}



/* END Cart  */

  /* End Header */
  
  /* Footer */
  .footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  /* End Footer */
  
  /* box-head */
  .box-head {
    margin-bottom: 30px;
  }
  
  .box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: green;
  }
  /* End box-head */
  
  /* product-item */
  .product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
    position: relative;
  }
  


  .product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-item .inner-image .inner-featured {
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    color: white;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
  }

  .product-item .inner-content {
    padding: 15px;
  }
  
  .product-item .inner-content .inner-title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .product-item .inner-content .inner-price-new {
    font-size: 18px;
    font-weight: 600;
    color: green;
  }
  
  .product-item .inner-content .inner-price-old {
    font-size: 18px;
    font-weight: 600;
    color: red;
      text-decoration: line-through;
  }
  
  .product-item .inner-content .inner-discount {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: red;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
  }
  /* End product-item */

/* Drop down multilevel */

.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
  

/* END Drop down multilevel */


/* Description */

.inner-desc img {
  width: 100%;
}
/* END Description */


/* Show alert */

[show-alert] {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 999;
}

[close-alert] {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #efefef;
  text-align: center;
  line-height: 21px;
  font-weight: 600;
  cursor: pointer;
}

[show-alert].alert-hidden {
  animation: alert-out 2s;
  animation-fill-mode: both;
}

@keyframes alert-out {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}

/* End show alert */



/* Chat */
.chat-widget{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #fcfcfc;
  border-color: #ddd;
  border-color: rgba(221,221,221,0.85);
}

/*Chat widget*/
.chat-widget .message {
  display:block;
margin-bottom:20px;
  
}

.chat-widget .message .avatar {
width:55px;
float:left;
  
}

.chat-widget .message.message-right .avatar {
width:55px;
float:right;
}

.chat-widget .avatar img {
height:40px;
width:40px!important;
}

.chat-widget .message .message-text-wrapper {
display:table-cell;
width:1%;
}

.chat-widget .message .message-text {
padding:15px;
border-radius:4px;
border:1px solid #ddd;
border:1px solid rgba(221,221,221,0.68);
position:relative;
width:100%;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.chat-widget .message.message-right .message-text {
background:#fbfbfb;
}

.chat-widget .message .message-text img {
width:200px;
height:150px;
}

.chat-widget .message .time-stamp {
margin-left:55px;
}

.chat-widget .message.message-right .time-stamp {
margin-left:0;
margin-right:55px;
display:block;
text-align:right;
}

.chat-widget .message .message-text:before,.chat-widget .message .message-text:after {
right:100%;
top:30px;
border:solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
pointer-events:none;
}

.chat-widget .message .message-text:before {
border-color:rgba(0,0,0,0);
border-right-color:#ddd;
border-width:10px;
margin-top:-19px;
}

.chat-widget .message .message-text:after {
border-color:rgba(213,71,28,0);
border-right-color:#fff;
border-width:9px;
margin-top:-18px;
}

.chat-widget .message.message-right .message-text:before,.chat-widget .message.message-right .message-text:after {
left:100%;
top:30px;
border:solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
pointer-events:none;
}

.chat-widget .message.message-right .message-text:before {
border-color:rgba(0,0,0,0);
border-left-color:#ddd;
border-width:10px;
margin-top:-19px;
}

.chat-widget .message.message-right .message-text:after {
border-left-color:#fbfbfb;
border-width:9px;
margin-top:-18px;
}

.chat-widget .panel-footer {
border:none;
background:transparent;
margin-top:-20px;
}

.chat-widget .panel-footer .avatar {
width:55px;
float:left;
margin-top:-2px;
}

@media (max-width:767px) {
label.margin {
  margin-top:25px;
  margin-bottom:15px;
}
}

/* END CHAT */

