mixin formatDate(date)
  p #{moment(date).format("DD/MM/YYYY HH:mm:ss")}

mixin formatTime(date)
  p #{moment(date).format("HH:mm:ss")}

mixin formatDate(date)
  p #{moment(date).format("DD/MM/YYYY")}


